@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  transform: scale(1);
  z-index: 1000;
}

.zoom{
  transition: transform 0.3s ease; 
}

.zoom:hover {
  transform: scale(1.3); 
}


.sliding-underline {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.sliding-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: -100%;
  background-color: #357b57; 
  transition: left 0.3s ease-out; 
}

.sliding-underline:hover::after {
  left: 0;
}

.main{
  background-image: url("../public/plantsrow.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-button-next,.swiper-button-prev {
  size: 2px;
  right:10px;
  padding: 30px;
  color: #357b57 !important;
  fill: #357b57 !important;
  stroke: #357b57 !important;
}


.hanger{
  animation: swing 1s ease-in-out alternate infinite;
  transform-origin: center -2px;
}

@keyframes swing{
  0%{transform: rotate(-5deg);}
  100%{transform: rotate(5deg);}
}